<h1>New Product</h1>

<form action="/products" method="post">
  <div>
    Name: <input type="text" name="name">
  </div>
  <div>
    Description: <input type="text" name="description">
  </div>
  <div>
    Image Url: <input type="text" name="image_url">
  </div>
  <div>
    Price: <input type="text" name="price">
  </div>
  <input type="submit" value="Create Product">
</form>